.static {
    position: absolute;
    background: transparent;
}

.static:hover {
    opacity: 0;
}

.mantine-UnstyledButton-root {
    background-color: #FFFFFF;
    opacity: 1;
}

.mantine-Carousel-controls {
    /* top: calc(45% - 1.5625rem / 2); */
    /* width: 95%; */
    /* padding: 0 7rem; */
}

.mantine-Carousel-viewport {
    display: flex;
    justify-content: start;
    width: 100%;
}

.mantine-Carousel-indicators {
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.mantine-Carousel-container {
    max-width: 100%;
}

.mantine-Carousel-root {
    max-width: 100%;
}